button{
    width:fit-content;
    padding-left: 64px;
    padding-right: 64px;
    padding-bottom: 24px;
    padding-top: 24px;
    font-size: 20px;
    font-family: "epilogue";
    line-height: 30px;
}

h1{
    font-family: "epilogue";
    font-size: 68px;
    line-height: 100%;
}

.hero img{
      max-width: 124px;
    
}

.card{
    border: none;
    max-width: 394px;
    max-height: 424px;
}