

.client-card {
  background-color: #F3F3F3;
  border-radius: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  min-height: 250px;
  width: 394px;
}


.imonial-text {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  color: #2D2D2D;
  margin-bottom: 40px;
}


.client-info {
  display: flex;
  align-items: center; 
  gap: 15px;
}


.client-details h4 {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
}

.client-details p {
  margin: 0;
  font-size: 14px;
  color: #666;
}

button{
    width:fit-content;
    padding-left: 64px;
    padding-right: 64px;
    padding-bottom: 24px;
    padding-top: 24px;
    font-size: 20px;
    font-family: "epilogue";
    line-height: 30px;
}

h1{
    font-family: "epilogue";
    font-size: 68px;
    line-height: 100%;
}

.hero img{
      max-width: 124px;
    
}

.card{
    border: none;
    max-width: 394px;
    max-height: 424px;
    padding-left: 48px;
    padding-right: 48px;
}

.containerr{
    padding-left: 100px;
    padding-right: 100px;
}

